In [61]:
import pandas as pd

In [62]:
# 获取数据
titanic=pd.read_csv("titanic.csv")

In [63]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [64]:
# 筛选特征值和目标值
x=titanic[['pclass','age','sex']]
y=titanic["survived"]

In [65]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [66]:
# 缺失值处理
x["age"].fillna(x["age"].mean(),inplace=True)

D:\Programs\Anaconda\lib\site-packages\pandas\core\generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [67]:
# 转换成字典
x=x.to_dict(orient="records")

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
# 数据集划分
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=23)

In [70]:
# 字典特征抽取
from sklearn.feature_extraction import DictVectorizer

transfer=DictVectorizer()
x_train=transfer.fit_transform(x_train)
x_test=transfer.transform(x_test)

In [71]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz
# 使用决策树预估
estimator=DecisionTreeClassifier(criterion="entropy",max_depth=8)
estimator.fit(x_train,y_train)
# 模型评估
# 方法一:直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("比对结果：\n", y_test == y_predict)
# 方法二：季孙准确率
score = estimator.score(x_test, y_test)
print("准确率：\n", score)

# 可视化树
export_graphviz(estimator,out_file="titanic_tree.dot",feature_names=['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', '女性', '男性'])

y_predict:
 [0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1
 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 1
 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 0
 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 0 1 1 1 1 0 1 0 0 1 1 0 0 0 1 1 0
 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0]
比对结果：
 25       True
576      True
84      False
1009     True
802      True
534     False
1069     True
520      True
1136    False
986      True
87       True
328      True
936      True
164      True
772      True
677      True
200      True
1226    False
1087     True
274      True
755      True
63      False
592      True
743      True
206      True
885      True
1206     True
1115     True
956      True
373     False
        ...
1077    False
128      True
965      True
340      True
568      True
1179     True
880     False
686      True
76       True
793      True
1245     True
1276     True
3       False
1011     True
1199    False
353      True
723      True
808      True
1034     True
197      True
203     False
1181     True
1025    False
1015     True
567      True
152      True
37       True
801      True
195     False
71       True
Name: survived, Length: 329, dtype: bool
准确率：
 0.8145896656534954

## 使用随机森林进行预测

In [72]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [83]:
estimator=RandomForestClassifier()
# 添加网格搜索和交叉验证
# 准备参数
param_dict={"n_estimators":[120,200,300,500,800,1200],"max_depth": [5, 8, 15, 25, 30]}
estimator=GridSearchCV(estimator,param_grid=param_dict,cv=3)
estimator.fit(x_train,y_train)
# 5）模型评估
# 方法一:直接比对真实值和预测值
y_predict=estimator.predict(x_test)
print("y_predict:\n",y_predict)
print("比对结果：\n",y_test==y_predict)
# 方法二：计算准确率
score=estimator.score(x_test,y_test)
print("准确率：\n",score)

# 训练验证集的结果
print("最佳参数：\n",estimator.best_params_)
print("在交叉验证当中验证的最好结果：", estimator.best_score_)
print("模型K值是：", estimator.best_estimator_)
print("交叉验证的结果为：", estimator.cv_results_)

y_predict:
 [0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1
 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 1
 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 1 0
 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0 1 1 1 1 0 0 0 0 1 1 0 0 1 1 1 0
 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0]
比对结果：
 25       True
576      True
84      False
1009     True
802      True
534     False
1069     True
520      True
1136    False
986      True
87       True
328      True
936      True
164      True
772      True
677      True
200      True
1226    False
1087     True
274      True
755      True
63      False
592      True
743      True
206      True
885      True
1206     True
1115     True
956      True
373     False
        ...
1077    False
128      True
965      True
340      True
568      True
1179     True
880     False
686      True
76       True
793      True
1245     True
1276     True
3       False
1011     True
1199    False
353      True
723      True
808      True
1034     True
197      True
203     False
1181     True
1025    False
1015     True
567      True
152      True
37       True
801      True
195     False
71       True
Name: survived, Length: 329, dtype: bool
准确率：
 0.8206686930091185
最佳参数：
 {'max_depth': 5, 'n_estimators': 120}
在交叉验证当中验证的最好结果： 0.8252032520325203
模型K值是： RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=120, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
交叉验证的结果为： {'mean_fit_time': array([0.33240978, 0.49611791, 0.72995981, 1.21631336, 1.1648833 ,
       1.80384572, 0.20579545, 0.345409  , 0.50631046, 0.84606886,
       1.3357633 , 2.08409286, 0.21442517, 0.36968724, 0.54786698,
       0.86934272, 1.41322239, 2.11966809, 0.21143516, 0.35405286,
       0.52725514, 0.8982652 , 1.40491128, 2.94631489, 0.38200331,
       0.59339404, 0.80798793, 1.38741994, 1.98332707, 5.43455919]), 'std_fit_time': array([0.03605339, 0.01332596, 0.04035519, 0.36493011, 0.00614504,
       0.01565014, 0.0159976 , 0.01343856, 0.02011779, 0.00730143,
       0.01887745, 0.09404055, 0.0089593 , 0.02003222, 0.04212614,
       0.00950763, 0.00776992, 0.02597343, 0.00215579, 0.00846219,
       0.01416088, 0.02524641, 0.00529843, 1.19703354, 0.05093449,
       0.03499407, 0.01288742, 0.0896634 , 0.20966878, 2.11750782]), 'mean_score_time': array([0.01861715, 0.02945073, 0.04853845, 0.18218621, 0.08678079,
       0.11470207, 0.01462777, 0.02094428, 0.03091741, 0.0502193 ,
       0.08045554, 0.1273524 , 0.01363683, 0.01993434, 0.03457363,
       0.0525256 , 0.08179132, 0.12466645, 0.0126338 , 0.02227402,
       0.03590449, 0.04986676, 0.08577347, 0.15741865, 0.02759123,
       0.03623549, 0.05851293, 0.09391936, 0.10172804, 0.60837356]), 'std_score_time': array([0.0038481 , 0.00281478, 0.00329201, 0.10586998, 0.01100038,
       0.00162895, 0.00188048, 0.00162918, 0.0008143 , 0.00124746,
       0.00047225, 0.0110939 , 0.00170334, 0.00081421, 0.00308189,
       0.0016954 , 0.00081334, 0.00355055, 0.00188127, 0.00261785,
       0.00495232, 0.00081498, 0.00081451, 0.02521775, 0.01246174,
       0.00047143, 0.01448503, 0.02224205, 0.01389191, 0.22365823]), 'param_max_depth': masked_array(data=[5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15,
                   15, 25, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 30],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[120, 200, 300, 500, 800, 1200, 120, 200, 300, 500, 800,
                   1200, 120, 200, 300, 500, 800, 1200, 120, 200, 300,
                   500, 800, 1200, 120, 200, 300, 500, 800, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([0.82674772, 0.82370821, 0.82370821, 0.82674772, 0.82674772,
       0.82370821, 0.80243161, 0.80547112, 0.80547112, 0.80851064,
       0.80547112, 0.80547112, 0.79027356, 0.79331307, 0.79331307,
       0.79331307, 0.79635258, 0.79635258, 0.79331307, 0.79027356,
       0.79635258, 0.79635258, 0.79635258, 0.79635258, 0.79635258,
       0.79635258, 0.79331307, 0.79331307, 0.79635258, 0.79635258]), 'split1_test_score': array([0.82621951, 0.82317073, 0.82317073, 0.82621951, 0.82317073,
       0.82317073, 0.82012195, 0.82012195, 0.82012195, 0.82012195,
       0.82317073, 0.82012195, 0.82621951, 0.82012195, 0.82012195,
       0.82926829, 0.82621951, 0.82926829, 0.82012195, 0.82926829,
       0.82621951, 0.82621951, 0.82621951, 0.82317073, 0.82012195,
       0.82621951, 0.82317073, 0.82926829, 0.82317073, 0.82926829]), 'split2_test_score': array([0.82262997, 0.82262997, 0.82262997, 0.82262997, 0.82262997,
       0.82262997, 0.81957187, 0.81957187, 0.81957187, 0.81957187,
       0.81957187, 0.81957187, 0.81957187, 0.81957187, 0.81957187,
       0.81957187, 0.81957187, 0.81957187, 0.81651376, 0.81957187,
       0.81651376, 0.81957187, 0.81957187, 0.81957187, 0.81957187,
       0.81957187, 0.81651376, 0.81957187, 0.81957187, 0.81957187]), 'mean_test_score': array([0.82520325, 0.82317073, 0.82317073, 0.82520325, 0.82418699,
       0.82317073, 0.81402439, 0.81504065, 0.81504065, 0.81605691,
       0.81605691, 0.81504065, 0.81199187, 0.81097561, 0.81097561,
       0.81402439, 0.81402439, 0.81504065, 0.80995935, 0.81300813,
       0.81300813, 0.81402439, 0.81402439, 0.81300813, 0.81199187,
       0.81402439, 0.81097561, 0.81402439, 0.81300813, 0.81504065]), 'std_test_score': array([0.00182821, 0.00044019, 0.00044019, 0.00182821, 0.00182821,
       0.00044019, 0.00821915, 0.00678587, 0.00678587, 0.00535293,
       0.0076447 , 0.00678587, 0.01562935, 0.01251988, 0.01251988,
       0.01520223, 0.01281466, 0.01382273, 0.01188909, 0.01659097,
       0.01245051, 0.01281466, 0.01281466, 0.01189514, 0.01108621,
       0.01281466, 0.01280905, 0.01520223, 0.01189514, 0.01382273]), 'rank_test_score': array([ 1,  4,  4,  1,  3,  4, 14,  9,  9,  7,  7,  9, 25, 27, 27, 14, 14,
        9, 30, 21, 21, 14, 14, 21, 25, 14, 27, 14, 21,  9]), 'split0_train_score': array([0.85038168, 0.85038168, 0.84885496, 0.84885496, 0.85038168,
       0.85038168, 0.87175573, 0.87328244, 0.87328244, 0.87328244,
       0.87328244, 0.87328244, 0.8778626 , 0.8778626 , 0.8778626 ,
       0.8778626 , 0.8778626 , 0.8778626 , 0.8778626 , 0.8778626 ,
       0.8778626 , 0.8778626 , 0.8778626 , 0.8778626 , 0.8778626 ,
       0.8778626 , 0.8778626 , 0.8778626 , 0.8778626 , 0.8778626 ]), 'split1_train_score': array([0.84908537, 0.84756098, 0.84756098, 0.84908537, 0.84908537,
       0.84908537, 0.86432927, 0.86280488, 0.86280488, 0.86280488,
       0.86280488, 0.86280488, 0.86432927, 0.86432927, 0.86432927,
       0.86432927, 0.86432927, 0.86432927, 0.86432927, 0.86432927,
       0.86432927, 0.86432927, 0.86432927, 0.86432927, 0.86432927,
       0.86432927, 0.86432927, 0.86432927, 0.86432927, 0.86432927]), 'split2_train_score': array([0.84627093, 0.84931507, 0.847793  , 0.847793  , 0.847793  ,
       0.847793  , 0.86605784, 0.86605784, 0.86605784, 0.86605784,
       0.86605784, 0.86605784, 0.86605784, 0.86605784, 0.86605784,
       0.86605784, 0.86605784, 0.86605784, 0.86605784, 0.86605784,
       0.86605784, 0.86605784, 0.86605784, 0.86605784, 0.86605784,
       0.86605784, 0.86605784, 0.86605784, 0.86605784, 0.86605784]), 'mean_train_score': array([0.84857932, 0.84908591, 0.84806965, 0.84857778, 0.84908668,
       0.84908668, 0.86738094, 0.86738172, 0.86738172, 0.86738172,
       0.86738172, 0.86738172, 0.86941657, 0.86941657, 0.86941657,
       0.86941657, 0.86941657, 0.86941657, 0.86941657, 0.86941657,
       0.86941657, 0.86941657, 0.86941657, 0.86941657, 0.86941657,
       0.86941657, 0.86941657, 0.86941657, 0.86941657, 0.86941657]), 'std_train_score': array([0.00171593, 0.00116289, 0.00056332, 0.00056284, 0.00105682,
       0.00105682, 0.00317291, 0.00437869, 0.00437869, 0.00437869,
       0.00437869, 0.00437869, 0.00601379, 0.00601379, 0.00601379,
       0.00601379, 0.00601379, 0.00601379, 0.00601379, 0.00601379,
       0.00601379, 0.00601379, 0.00601379, 0.00601379, 0.00601379,
       0.00601379, 0.00601379, 0.00601379, 0.00601379, 0.00601379])}