In [2]:
import pandas as pd

### 缺失值处理

In [3]:
# 缺失值nan
# 判断缺失值是否存在
movie=pd.read_csv("./IMDB/IMDB-Movie-Data.csv")

In [4]:
movie.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
import numpy as np

In [7]:
np.any(pd.isnull(movie))

True

In [9]:
# 如果为false，证明有缺失值
np.all(pd.notnull(movie))

False

In [10]:
# 使用pd自己的方法来判断
pd.isnull(movie).anyy()

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [11]:
pd.notnull(movie).all()

Rank                   True
Title                  True
Genre                  True
Description            True
Director               True
Actors                 True
Year                   True
Runtime (Minutes)      True
Rating                 True
Votes                  True
Revenue (Millions)    False
Metascore             False
dtype: bool

In [12]:
# 缺失值处理
# 1）删除含有缺失值的样本
data1=movie.dropna()

In [13]:
pd.notnull(data1).all()

Rank                  True
Title                 True
Genre                 True
Description           True
Director              True
Actors                True
Year                  True
Runtime (Minutes)     True
Rating                True
Votes                 True
Revenue (Millions)    True
Metascore             True
dtype: bool

In [15]:
# 2) 替换
movie["Revenue (Millions)"].fillna(movie["Revenue (Millions)"].mean(),inplace=True)
movie["Metascore"].fillna(movie["Metascore"].mean(),inplace=True)

In [16]:
pd.notnull(movie).all()  # 都为True意味着不存在缺失值

Rank                  True
Title                 True
Genre                 True
Description           True
Director              True
Actors                True
Year                  True
Runtime (Minutes)     True
Rating                True
Votes                 True
Revenue (Millions)    True
Metascore             True
dtype: bool

In [17]:
# 不是缺失值，有默认标记的处理方式
# 先将特殊标记替换成np.nan
# 然后按照上面的步骤进行处理

In [24]:
path = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
data=pd.read_csv(path)
data.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [30]:
# 1) 替换
data_new=data.replace(to_replace="?",value=np.nan)
data_new.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [32]:
# 删除缺失值
data_new.dropna(inplace=True)

### 数据离散化

In [33]:
# 准备数据
data = pd.Series([165,174,160,180,159,163,192,184], index=['No1:165', 'No2:174','No3:160', 'No4:180', 'No5:159', 'No6:163', 'No7:192', 'No8:184'])

In [34]:
data

No1:165    165
No2:174    174
No3:160    160
No4:180    180
No5:159    159
No6:163    163
No7:192    192
No8:184    184
dtype: int64

In [35]:
# 分组
# 自动分组
sr=pd.qcut(data,3)

In [36]:
sr

No1:165      (163.667, 178.0]
No2:174      (163.667, 178.0]
No3:160    (158.999, 163.667]
No4:180        (178.0, 192.0]
No5:159    (158.999, 163.667]
No6:163    (158.999, 163.667]
No7:192        (178.0, 192.0]
No8:184        (178.0, 192.0]
dtype: category
Categories (3, interval[float64]): [(158.999, 163.667] < (163.667, 178.0] < (178.0, 192.0]]

In [37]:
# 转换成one-hot编码
pd.get_dummies(sr,prefix="heigh")

,"heigh_(158.999, 163.667]","heigh_(163.667, 178.0]","heigh_(178.0, 192.0]"
No1:165,0,1,0
No2:174,0,1,0
No3:160,1,0,0
No4:180,0,0,1
No5:159,1,0,0
No6:163,1,0,0
No7:192,0,0,1
No8:184,0,0,1

In [40]:
# 自定义分组
bins=[150,165,180,195]
sr=pd.cut(data,bins)
sr.value_counts()

(150, 165]    4
(180, 195]    2
(165, 180]    2
dtype: int64

#### 案例 股票涨跌幅分组

In [41]:
# 1）读取数据
stock = pd.read_csv("./stock_day/stock_day.csv")

In [45]:
p_change=stock["p_change"]

In [46]:
# 分组
sr=pd.qcut(p_change,10)

In [47]:
sr.value_counts()

(5.27, 10.03]                    65
(0.26, 0.94]                     65
(-0.462, 0.26]                   65
(-10.030999999999999, -4.836]    65
(2.938, 5.27]                    64
(1.738, 2.938]                   64
(-1.352, -0.462]                 64
(-2.444, -1.352]                 64
(-4.836, -2.444]                 64
(0.94, 1.738]                    63
Name: p_change, dtype: int64

In [48]:
# 离散化
pd.get_dummies(sr,prefix="涨跌幅")

,"涨跌幅_(-10.030999999999999, -4.836]","涨跌幅_(-4.836, -2.444]","涨跌幅_(-2.444, -1.352]","涨跌幅_(-1.352, -0.462]","涨跌幅_(-0.462, 0.26]","涨跌幅_(0.26, 0.94]","涨跌幅_(0.94, 1.738]","涨跌幅_(1.738, 2.938]","涨跌幅_(2.938, 5.27]","涨跌幅_(5.27, 10.03]"
2018-02-27,0,0,0,0,0,0,0,1,0,0
2018-02-26,0,0,0,0,0,0,0,0,1,0
2018-02-23,0,0,0,0,0,0,0,1,0,0
2018-02-22,0,0,0,0,0,0,1,0,0,0
2018-02-14,0,0,0,0,0,0,0,1,0,0
2018-02-13,0,0,0,0,0,0,1,0,0,0
2018-02-12,0,0,0,0,0,0,0,0,1,0
2018-02-09,1,0,0,0,0,0,0,0,0,0
2018-02-08,0,0,0,0,0,1,0,0,0,0
2018-02-07,0,0,1,0,0,0,0,0,0,0
2018-02-06,0,1,0,0,0,0,0,0,0,0
2018-02-05,0,0,0,0,0,0,0,1,0,0
2018-02-02,0,0,0,0,0,1,0,0,0,0
2018-02-01,1,0,0,0,0,0,0,0,0,0
2018-01-31,0,0,0,0,1,0,0,0,0,0
2018-01-30,0,0,0,0,1,0,0,0,0,0
2018-01-29,0,1,0,0,0,0,0,0,0,0
2018-01-26,0,0,0,0,0,1,0,0,0,0
2018-01-25,0,1,0,0,0,0,0,0,0,0
2018-01-24,0,0,0,1,0,0,0,0,0,0
2018-01-23,0,0,0,0,0,0,1,0,0,0
2018-01-22,0,0,0,0,1,0,0,0,0,0
2018-01-19,0,0,0,0,0,0,0,1,0,0
2018-01-18,0,0,0,0,1,0,0,0,0,0
2018-01-17,0,0,0,0,0,1,0,0,0,0
2018-01-16,0,0,0,0,0,0,0,0,1,0
2018-01-15,0,1,0,0,0,0,0,0,0,0
2018-01-12,0,0,0,0,0,0,0,1,0,0
2018-01-11,0,0,0,1,0,0,0,0,0,0
2018-01-10,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2015-04-13,0,0,0,0,0,0,0,0,0,1
2015-04-10,0,0,0,1,0,0,0,0,0,0
2015-04-09,0,0,0,0,0,0,0,0,0,1
2015-04-08,0,0,0,0,0,0,0,0,1,0
2015-04-07,0,0,0,0,0,0,0,0,0,1
2015-04-03,0,0,0,0,0,0,1,0,0,0
2015-04-02,0,0,0,0,0,1,0,0,0,0
2015-04-01,0,0,0,0,0,1,0,0,0,0
2015-03-31,0,0,1,0,0,0,0,0,0,0
2015-03-30,0,0,0,0,0,0,0,0,1,0
2015-03-27,0,0,0,0,0,0,0,0,0,1
2015-03-26,0,0,1,0,0,0,0,0,0,0
2015-03-25,0,0,1,0,0,0,0,0,0,0
2015-03-24,0,0,0,0,0,0,0,1,0,0
2015-03-23,0,0,0,0,1,0,0,0,0,0
2015-03-20,0,0,0,0,1,0,0,0,0,0
2015-03-19,0,0,0,0,0,1,0,0,0,0
2015-03-18,0,0,0,0,0,1,0,0,0,0
2015-03-17,0,0,0,0,0,0,0,1,0,0
2015-03-16,0,0,0,0,0,0,0,1,0,0
2015-03-13,0,0,0,0,0,0,0,1,0,0
2015-03-12,0,0,0,1,0,0,0,0,0,0
2015-03-11,0,0,1,0,0,0,0,0,0,0
2015-03-10,0,0,0,0,0,0,0,1,0,0
2015-03-09,0,0,0,0,1,0,0,0,0,0
2015-03-06,0,0,0,0,0,0,0,0,0,1
2015-03-05,0,0,0,0,0,0,0,1,0,0
2015-03-04,0,0,0,0,0,0,1,0,0,0
2015-03-03,0,0,0,0,0,0,1,0,0,0
2015-03-02,0,0,0,0,0,0,0,1,0,0

In [50]:
# 自定义分组
bins = [-100, -7, -5, -3, 0, 3, 5, 7, 100]
sr=pd.cut(p_change,bins)

In [51]:
sr.value_counts()

(0, 3]        215
(-3, 0]       188
(3, 5]         57
(-5, -3]       51
(7, 100]       35
(5, 7]         35
(-100, -7]     34
(-7, -5]       28
Name: p_change, dtype: int64

In [55]:
# ont-hot
stock_change=pd.get_dummies(sr,prefix="rise")
stock_change

,"rise_(-100, -7]","rise_(-7, -5]","rise_(-5, -3]","rise_(-3, 0]","rise_(0, 3]","rise_(3, 5]","rise_(5, 7]","rise_(7, 100]"
2018-02-27,0,0,0,0,1,0,0,0
2018-02-26,0,0,0,0,0,1,0,0
2018-02-23,0,0,0,0,1,0,0,0
2018-02-22,0,0,0,0,1,0,0,0
2018-02-14,0,0,0,0,1,0,0,0
2018-02-13,0,0,0,0,1,0,0,0
2018-02-12,0,0,0,0,0,1,0,0
2018-02-09,0,1,0,0,0,0,0,0
2018-02-08,0,0,0,0,1,0,0,0
2018-02-07,0,0,0,1,0,0,0,0
2018-02-06,0,0,1,0,0,0,0,0
2018-02-05,0,0,0,0,1,0,0,0
2018-02-02,0,0,0,0,1,0,0,0
2018-02-01,0,1,0,0,0,0,0,0
2018-01-31,0,0,0,1,0,0,0,0
2018-01-30,0,0,0,0,1,0,0,0
2018-01-29,0,0,0,1,0,0,0,0
2018-01-26,0,0,0,0,1,0,0,0
2018-01-25,0,0,1,0,0,0,0,0
2018-01-24,0,0,0,1,0,0,0,0
2018-01-23,0,0,0,0,1,0,0,0
2018-01-22,0,0,0,1,0,0,0,0
2018-01-19,0,0,0,0,1,0,0,0
2018-01-18,0,0,0,0,1,0,0,0
2018-01-17,0,0,0,0,1,0,0,0
2018-01-16,0,0,0,0,0,1,0,0
2018-01-15,0,0,1,0,0,0,0,0
2018-01-12,0,0,0,0,1,0,0,0
2018-01-11,0,0,0,1,0,0,0,0
2018-01-10,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
2015-04-13,0,0,0,0,0,0,0,1
2015-04-10,0,0,0,1,0,0,0,0
2015-04-09,0,0,0,0,0,0,1,0
2015-04-08,0,0,0,0,0,0,1,0
2015-04-07,0,0,0,0,0,0,1,0
2015-04-03,0,0,0,0,1,0,0,0
2015-04-02,0,0,0,0,1,0,0,0
2015-04-01,0,0,0,0,1,0,0,0
2015-03-31,0,0,0,1,0,0,0,0
2015-03-30,0,0,0,0,0,1,0,0
2015-03-27,0,0,0,0,0,0,1,0
2015-03-26,0,0,0,1,0,0,0,0
2015-03-25,0,0,0,1,0,0,0,0
2015-03-24,0,0,0,0,1,0,0,0
2015-03-23,0,0,0,0,1,0,0,0
2015-03-20,0,0,0,1,0,0,0,0
2015-03-19,0,0,0,0,1,0,0,0
2015-03-18,0,0,0,0,1,0,0,0
2015-03-17,0,0,0,0,1,0,0,0
2015-03-16,0,0,0,0,1,0,0,0
2015-03-13,0,0,0,0,1,0,0,0
2015-03-12,0,0,0,1,0,0,0,0
2015-03-11,0,0,0,1,0,0,0,0
2015-03-10,0,0,0,0,1,0,0,0
2015-03-09,0,0,0,0,1,0,0,0
2015-03-06,0,0,0,0,0,0,0,1
2015-03-05,0,0,0,0,1,0,0,0
2015-03-04,0,0,0,0,1,0,0,0
2015-03-03,0,0,0,0,1,0,0,0
2015-03-02,0,0,0,0,1,0,0,0